SOAP_DOTNET/02.CLIWEB/EUREKA_SOAP_DOTNET_CLIWEB/Connected Services/MovimientoServicio/MovimientoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57064/MovimientoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_EUREKA_SOAP_DOTNET.Models" />
  <xs:element name="ObtenerMovimientosPorCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMovimientosPorCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_EUREKA_SOAP_DOTNET.Models" minOccurs="0" name="ObtenerMovimientosPorCuentaResult" nillable="true" type="q1:ArrayOfCustomMovimientoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_EUREKA_SOAP_DOTNET.Models" minOccurs="0" name="movimiento" nillable="true" type="q2:CustomMovimientoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarMovimientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>