SOAP_DOTNET/02.CLIWEB/EUREKA_SOAP_DOTNET_CLIWEB/Connected Services/MovimientoServicio/MovimientoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_EUREKA_SOAP_DOTNET.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_EUREKA_SOAP_DOTNET.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomMovimientoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomMovimientoModel" nillable="true" type="tns:CustomMovimientoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomMovimientoModel" nillable="true" type="tns:ArrayOfCustomMovimientoModel" />
  <xs:complexType name="CustomMovimientoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTipoMovimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuentaReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMovimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImporteMovimiento" type="xs:double" />
      <xs:element minOccurs="0" name="NumeroMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomMovimientoModel" nillable="true" type="tns:CustomMovimientoModel" />
</xs:schema>