RESTFUL_DOTNET/02.CLIESC/EUREKA_RESTFUL_DOTNET_CLIESC/Connected Services/CuentaReference/CuentaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ActualizarSaldoYRegistrarMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valorMovimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuentaDest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSaldoYRegistrarMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSaldoYRegistrarMovimientoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>